/javaTasks/6_ServiceDesk/nbproject/private/
/javaTasks/6_calendar/nbproject/private/
/javaTasks/6_calendar/build/
/javaTasks/6_calendar_with_Maven/target/
/javaTasks/1_palindroms/1_palindroms.iml
/javaTasks/1_palindroms/out/
/javaTasks/1_palindroms/.idea/
/javaTasks/2_KComplementary/2_KComplementary.iml
/javaTasks/2_KComplementary/out/
/javaTasks/2_KComplementary/.idea/
/javaTasks/3_ReadingFile/3_ReadingFile.iml
/javaTasks/3_ReadingFile/out/
/javaTasks/3_ReadingFile/.idea/